PORT=4070
CORS_ORIGINS=https://qa-frontend.appsfastwaysas.com
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Internal-Service-Key
CORS_ALLOW_CREDENTIALS=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tungsteno
DB_USER=root
DB_PASSWORD=
DB_LOGGING=false
