PORT=4070
DB_SYNC_ON_START=true
JWT_SECRET=usa_el_mismo_jwt_secret_de_wmsBack
INTERNAL_SERVICE_KEY=usa_una_llave_interna_compartida_opcional
AUTH_PUBLIC_PATHS=/api/tungsteno/health
CORS_ORIGINS=https://qa.appfastway.com
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Internal-Service-Key
CORS_ALLOW_CREDENTIALS=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tungsteno
DB_USER=root
DB_PASSWORD=
DB_LOGGING=false
